In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./env/lib/python3.12/site-packages (9.3.0)

In [7]:
import mysql.connector
import pandas as pd 
from datetime import datetime

In [15]:
import pandas as pd
import mysql.connector
from datetime import datetime

# Load CSV
df = pd.read_csv('mpesa_statement.csv')
data=pd.read_csv('mpesastatement2.csv')
# Preview the data
df.head()
data.head()
data.describe()

,Page,1,of,204,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
count,18335,16443,14195,12371,10555,8821,8711,8677,8340,8069,...,620,612,612,612,612,612,204,204,204,204
unique,7446,1690,6293,728,332,63,347,316,998,1595,...,11,3,3,3,3,3,1,1,1,1
top,to,-,-,Customer,of,to,to,Completed,-,Completed,...,the,Data,Protection,Act,and,only,used,for,the,purpose
freq,876,1091,722,1802,1451,1506,1715,4407,1432,1875,...,204,204,204,204,204,204,204,204,204,204

In [12]:
data.describe()

,Page,1,of,204,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
count,18335,16443,14195,12371,10555,8821,8711,8677,8340,8069,...,620,612,612,612,612,612,204,204,204,204
unique,7446,1690,6293,728,332,63,347,316,998,1595,...,11,3,3,3,3,3,1,1,1,1
top,to,-,-,Customer,of,to,to,Completed,-,Completed,...,the,Data,Protection,Act,and,only,used,for,the,purpose
freq,876,1091,722,1802,1451,1506,1715,4407,1432,1875,...,204,204,204,204,204,204,204,204,204,204

In [29]:
df.head()
print(df.columns.tolist())
import pandas as pd

df = pd.read_csv("mpesa_statement.csv", skiprows=18
                 
            )  # Try 5, or tweak this number
print(df.head())
print(data.columns.tolist())

['Page', '1', 'of', '55', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22']
         Receipt         No. Completion      Time   Details Transaction  \
0     TDO7Y5XO1F  2025-04-24   06:12:00     Funds  received        from
1  2547******215      MARIAM     KABAYA       NaN       NaN         NaN
2     TDO5Y5XQ6V  2025-04-24   06:12:00        OD      Loan   Repayment
3         M-PESA    Overdraw        NaN       NaN       NaN         NaN
4     TDK3HTGKQF  2025-04-20   11:35:42  Customer  Transfer      Fuliza

  Status       Paid      In  Withdrawn  ... Unnamed: 13 Unnamed: 14  \
0      -  Completed   50.00      50.00  ...         NaN         NaN
1    NaN        NaN     NaN        NaN  ...         NaN         NaN
2     to     232323       -  Completed  ...         NaN         NaN
3    NaN        NaN     NaN        NaN  ...         NaN         NaN
4  MPesa  Completed  -28.00       0.00  ...         NaN         NaN

  Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 21 Unnamed: 22
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 23 columns]
['Page', '1', 'of', '204', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22']

In [19]:
# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Home2030@!",  # Leave blank if using sudo mysql; else, add your password
    database="fraud_detection"
)
cursor = conn.cursor()

# Insert data row by row
for _, row in df.iterrows():
    sql = """
        INSERT INTO transactions 
        (receipt_no, completion_time, details, transaction_status, paid_in, withdrawn, balance)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        row['Receipt No.'],
        row['Completion Time'],
        row['Details'],
        row['Transaction Status'],
        row['Paid In'],
        row['Withdrawn'],
        row['Balance']
    )
    cursor.execute(sql, values)

conn.commit()
cursor.close()
conn.close()

KeyError: 'Receipt No.'

In [32]:
!pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.11.6-py3-none-any.whl.metadata (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 kB 86.3 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting pdfminer.six==20250327 (from pdfplumber)
  Downloading pdfminer_six-20250327-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: Pillow>=9.1 in ./env/lib/python3.12/site-packages (from pdfplumber) (11.2.1)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.2/48.2 kB 29.9 kB/s eta 0:00:00MB/s eta 0:00:01
Requirement already satisfied: charset-normalizer>=2.0.0 in ./env/lib/python3.12/site-packages (from pdfminer.six==20250327->pdfplumber) (3.4.2)
Collecting cryptography>=36.0.0 (from pdfminer.six==20250327->pdfplumber)
  Downloading cryptography-44.0.3-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in ./env/lib/python3.12/site-packages (from cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in ./env/lib/python3.12/site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20250327->pdfplumber) (2.22)
Downloading pdfplumber-0.11.6-py3-none-any.whl (60 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.2/60.2 kB 70.4 kB/s eta 0:00:00 kB/s eta 0:00:01m
Downloading pdfminer_six-20250327-py3-none-any.whl (5.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 192.7 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 250.8 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading cryptography-44.0.3-cp39-abi3-manylinux_2_34_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 373.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: pypdfium2, cryptography, pdfminer.six, pdfplumber
Successfully installed cryptography-44.0.3 pdfminer.six-20250327 pdfplumber-0.11.6 pypdfium2-4.30.1

FileNotFoundError: [Errno 2] No such file or directory: 'MPESA_STATEMENT.pdf'

In [33]:
import pdfplumber
import pandas as pd

pdf_path = "154.pdf"
pdf_password = "904302"  # Replace with your actual password

all_data = []

with pdfplumber.open(pdf_path, password=pdf_password) as pdf:
    for page in pdf.pages:
        table = page.extract_table()
        if table:
            df = pd.DataFrame(table[1:], columns=table[0])
            all_data.append(df)

# Combine all pages
df = pd.concat(all_data, ignore_index=True)

# Save to clean CSV
df.to_csv("cleaned_mpesa.csv", index=False)

print("Cleaned CSV saved as cleaned_mpesa.csv")

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Cleaned CSV saved as cleaned_mpesa.csv

In [35]:
import pdfplumber
import pandas as pd

pdf_path = "330.pdf"
pdf_password = "669206"  # Replace with your actual password

all_data = []

with pdfplumber.open(pdf_path, password=pdf_password) as pdf:
    for page in pdf.pages:
        table = page.extract_table()
        if table:
            df = pd.DataFrame(table[1:], columns=table[0])
            all_data.append(df)

# Combine all pages
df = pd.concat(all_data, ignore_index=True)

# Save to clean CSV
df.to_csv("cleaned_mpesa330.csv", index=False)

print("Cleaned CSV saved as cleaned_mpesa.csv")

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Cleaned CSV saved as cleaned_mpesa.csv

In [7]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Home2020@!",  # change this!
    database="fraud_detection"
)
cursor = conn.cursor()
df = pd.read_csv("cleaned_mpesa.csv")
print(df.columns.tolist())


for _, row in df.iterrows():
    sql = """
        INSERT INTO transactions 
        (receipt_no, completion_time, details, transaction_status, paid_in, withdrawn, balance)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        row['Receipt No.'],
        row['Completion Time'],
        row['Details'],
        row['Transaction Status'],
        row['Paid In'],
        row['Withdrawn'],
        row['Balance']
    )
    cursor.execute(sql, values)



conn.commit()
cursor.close()
conn.close()

['Receipt No.', 'Completion Time', 'Details', 'Transaction Status', 'Paid In', 'Withdrawn', 'Balance']

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [15]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Home2020@!",  # change this!
    database="fraud_detection"
)
cursor = conn.cursor()
df = pd.read_csv("cleaned_mpesa.csv")
print(df.columns.tolist())

# Check for 'nan' values in the entire DataFrame
print("\nNumber of 'nan' values in each column:")
print(df.apply(lambda col: col.astype(str).str.contains('nan').sum()))



 #Option 2: Replace 'nan' with a default value (e.g., 0 for numeric, '' for string)
df ['Paid In'] = df['Paid In'].replace('nan', 0)
df ['Withdrawn'] = df['Withdrawn'].replace('nan', 0)
df ['Balance'] = df['Balance'].replace('nan', 0)
df ['Details'] = df['Details'].replace('nan', '')
# ... and so on for other relevant columns

for _, row in df.iterrows():
    sql = """
        INSERT INTO transactions
        (receipt_no, completion_time, details, transaction_status, paid_in, withdrawn, balance)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        row['Receipt No.'],
        row['Completion Time'],
        row['Details'],
        row['Transaction Status'],
        row['Paid In'],
        row['Withdrawn'],
        row['Balance']
    )
    try:
        cursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error inserting row: {row.to_dict()}")
        print(f"MySQL Error: {err}")
        conn.rollback() # Rollback the transaction on error
        continue # Skip to the next row

conn.commit()
cursor.close()
conn.close()

['Receipt No.', 'Completion Time', 'Details', 'Transaction Status', 'Paid In', 'Withdrawn', 'Balance']

Number of 'nan' values in each column:
Receipt No.              0
Completion Time          0
Details                  2
Transaction Status       0
Paid In               1345
Withdrawn              793
Balance                  0
dtype: int64
Error inserting row: {'Receipt No.': 'TDO7Y5XO1F', 'Completion Time': '2025-04-24 06:12:00', 'Details': 'Funds received from -\n2547******215 MARIAM KABAYA', 'Transaction Status': 'Completed', 'Paid In': '50.00', 'Withdrawn': nan, 'Balance': '50.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDO5Y5XQ6V', 'Completion Time': '2025-04-24 06:12:00', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDK3HTGKQF', 'Completion Time': '2025-04-20 11:35:42', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-28.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDK3HTGKQF', 'Completion Time': '2025-04-20 11:35:42', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '28.00', 'Withdrawn': nan, 'Balance': '28.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDK3HTDSBF', 'Completion Time': '2025-04-20 11:35:03', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDK3HTDSBF', 'Completion Time': '2025-04-20 11:35:03', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '71.64', 'Withdrawn': nan, 'Balance': '100.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ6FNJ3TW', 'Completion Time': '2025-04-19 19:22:56', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.64', 'Balance': '28.36'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ5FNJ7B5', 'Completion Time': '2025-04-19 19:22:55', 'Details': 'M-Shwari Withdraw', 'Transaction Status': 'Completed', 'Paid In': '49.00', 'Withdrawn': nan, 'Balance': '49.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ2FNCGBA', 'Completion Time': '2025-04-19 19:22:13', 'Details': 'Pay Bill Charge', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ2FNCGBA', 'Completion Time': '2025-04-19 19:22:13', 'Details': 'Pay Bill Online Fuliza M-Pesa to\n247247 - Equity Paybill Account\nAcc. 1130277771194', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-1,600.00', 'Balance': '20.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ2FNCGBA', 'Completion Time': '2025-04-19 19:22:13', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '20.43', 'Withdrawn': nan, 'Balance': '1,620.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ1FM7F1B', 'Completion Time': '2025-04-19 19:17:51', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.43', 'Balance': '1,599.57'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDJ9FM7K69', 'Completion Time': '2025-04-19 19:17:50', 'Details': 'M-Shwari Withdraw', 'Transaction Status': 'Completed', 'Paid In': '1,700.00', 'Withdrawn': nan, 'Balance': '1,700.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI0AVVJDG', 'Completion Time': '2025-04-18 18:56:56', 'Details': 'Pay Bill Fuliza M-Pesa to 888880\n- KPLC PREPAID Acc.\n92105006800', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-49.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI0AVVJDG', 'Completion Time': '2025-04-18 18:56:56', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '49.00', 'Withdrawn': nan, 'Balance': '49.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI1AVJ1K5', 'Completion Time': '2025-04-18 18:55:33', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI2AVJ1HE', 'Completion Time': '2025-04-18 18:55:32', 'Details': 'M-Shwari Withdraw', 'Transaction Status': 'Completed', 'Paid In': '50.00', 'Withdrawn': nan, 'Balance': '50.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI77XHE65', 'Completion Time': '2025-04-18 07:59:51', 'Details': 'Customer Transfer Fuliza MPesa\nto - 07******576 KENNEDY\nNDUTA', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI77XHE65', 'Completion Time': '2025-04-18 07:59:51', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '99.94', 'Withdrawn': nan, 'Balance': '100.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI07S41PU', 'Completion Time': '2025-04-18 07:02:48', 'Details': 'M-Shwari Deposit', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-1,799.00', 'Balance': '0.06'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDI77S1M95', 'Completion Time': '2025-04-18 07:01:45', 'Details': 'Customer Transfer to -\n01******138 CHRISTINE MUSYIMI', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.00', 'Balance': '1,799.06'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDH65VATZ6', 'Completion Time': '2025-04-17 18:12:14', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-89.94', 'Balance': '1,899.06'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDH35VAXOF', 'Completion Time': '2025-04-17 18:12:13', 'Details': 'Receive funds from 6719133 -\nISAACK KARANJA GITUNDU', 'Transaction Status': 'Completed', 'Paid In': '1,989.00', 'Withdrawn': nan, 'Balance': '1,989.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF7TBIUK9', 'Completion Time': '2025-04-15 10:59:54', 'Details': 'Pay Bill Charge', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-5.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF7TBIUK9', 'Completion Time': '2025-04-15 10:59:54', 'Details': 'Pay Bill Fuliza M-Pesa to 247247\n- Equity Paybill Account Acc.\n800212', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-250.00', 'Balance': '5.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF7TBIUK9', 'Completion Time': '2025-04-15 10:59:54', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '89.04', 'Withdrawn': nan, 'Balance': '255.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF7SB2CV3', 'Completion Time': '2025-04-15 02:59:44', 'Details': 'Pay Bill Charge', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-25.00', 'Balance': '165.96'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF7SB2CV3', 'Completion Time': '2025-04-15 02:59:44', 'Details': 'Pay Bill Online to 247247 -\nEquity Paybill Account Acc.\n1130277771194', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-3,500.00', 'Balance': '190.96'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF4SAQTIS', 'Completion Time': '2025-04-15 02:27:27', 'Details': 'Customer Transfer to -\n2547******330 isaack gitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '3,690.96'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF1SAQDR7', 'Completion Time': '2025-04-15 02:25:48', 'Details': 'Airtime Purchase', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-140.00', 'Balance': '3,740.96'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF6SAOZZY', 'Completion Time': '2025-04-15 02:22:54', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-97.04', 'Balance': '3,880.96'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TDF0SAP51G', 'Completion Time': '2025-04-15 02:22:54', 'Details': 'Receive funds from 6719133 -\nISAACK KARANJA GITUNDU', 'Transaction Status': 'Completed', 'Paid In': '3,978.00', 'Withdrawn': nan, 'Balance': '3,978.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TD42C8QSXK', 'Completion Time': '2025-04-04 09:19:53', 'Details': 'Airtime Purchase For Other with\nFuliza', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-95.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TD42C8QSXK', 'Completion Time': '2025-04-04 09:19:53', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '95.00', 'Withdrawn': nan, 'Balance': '95.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV6VVFUWW', 'Completion Time': '2025-03-31 22:30:36', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV6VVFUWW', 'Completion Time': '2025-03-31 22:30:36', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '1.07', 'Withdrawn': nan, 'Balance': '50.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV3V8CUV1', 'Completion Time': '2025-03-31 20:06:41', 'Details': 'Pay Bill Charge', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-15.00', 'Balance': '48.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV3V8CUV1', 'Completion Time': '2025-03-31 20:06:41', 'Details': 'Pay Bill Online to 222222 - E-\nCITIZEN Acc. HGQOJXE', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-1,050.00', 'Balance': '63.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV9V6KJSZ', 'Completion Time': '2025-03-31 19:59:00', 'Details': 'Transfer from Bank 517819 - IM\nBANK LIMITED- APP to Customer\nvia API', 'Transaction Status': 'Completed', 'Paid In': '500.00', 'Withdrawn': nan, 'Balance': '1,113.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCV2RSZUCK', 'Completion Time': '2025-03-31 07:43:21', 'Details': 'Customer Transfer to -\n07******576 KENNEDY NDUTA', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '613.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCU6RE697S', 'Completion Time': '2025-03-30 22:57:31', 'Details': 'Merchant Payment to 6714541 -\nBENAPHAM CHEMIST', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-220.00', 'Balance': '663.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCU2RDBWUY', 'Completion Time': '2025-03-30 22:45:22', 'Details': 'Merchant Payment to 7247126 -\nMIRIAM WANJIKU WAHINYA 2', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.00', 'Balance': '883.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCU6OB9MGE', 'Completion Time': '2025-03-30 11:42:18', 'Details': 'Airtime Purchase', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.00', 'Balance': '983.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCU9NYVS1H', 'Completion Time': '2025-03-30 10:12:11', 'Details': 'Customer Transfer to -\n07******239 ISAAC NJENGA', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.00', 'Balance': '1,003.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCT9LHNSSH', 'Completion Time': '2025-03-29 18:19:41', 'Details': 'Customer Payment to Small\nBusiness to - 01******331 JOHN\nMWNAGI', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.00', 'Balance': '1,103.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCT9LH86QL', 'Completion Time': '2025-03-29 18:17:41', 'Details': 'Customer Payment to Small\nBusiness to - 07******686\nMAUREEN MACHARIA', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.00', 'Balance': '1,123.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCT8KVUK3Y', 'Completion Time': '2025-03-29 16:29:57', 'Details': 'Receive funds from 6719133 -\nISAACK KARANJA GITUNDU', 'Transaction Status': 'Completed', 'Paid In': '1,244.00', 'Withdrawn': nan, 'Balance': '1,244.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCT6KVUFNW', 'Completion Time': '2025-03-29 16:29:57', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-100.07', 'Balance': '1,143.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCG7X6PLJX', 'Completion Time': '2025-03-16 16:28:44', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-13.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCG7X6PLJX', 'Completion Time': '2025-03-16 16:28:44', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '13.00', 'Withdrawn': nan, 'Balance': '13.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF9U5K3AL', 'Completion Time': '2025-03-15 20:28:39', 'Details': 'Pay Bill Online Fuliza M-Pesa to\n826915 - Safaricom Offers Acc.\nTunukiwa', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-20.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF9U5K3AL', 'Completion Time': '2025-03-15 20:28:39', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '20.00', 'Withdrawn': nan, 'Balance': '20.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF5QX5WIV', 'Completion Time': '2025-03-15 09:22:58', 'Details': 'Pay Bill Charge', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-42.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF5QX5WIV', 'Completion Time': '2025-03-15 09:22:58', 'Details': 'Pay Bill Online Fuliza M-Pesa to\n247247 - Equity Paybill Account\nAcc. 1130277771194', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-5,900.00', 'Balance': '42.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF5QX5WIV', 'Completion Time': '2025-03-15 09:22:58', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '66.07', 'Withdrawn': nan, 'Balance': '5,942.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF0QWYRG0', 'Completion Time': '2025-03-15 09:21:36', 'Details': 'Receive funds from 6719133 -\nISAACK KARANJA GITUNDU', 'Transaction Status': 'Completed', 'Paid In': '5,967.00', 'Withdrawn': nan, 'Balance': '5,967.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TCF7QWZ09Z', 'Completion Time': '2025-03-15 09:21:36', 'Details': 'OD Loan Repayment to 232323 -\nM-PESA Overdraw', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-91.07', 'Balance': '5,875.93'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBM01KR7NW', 'Completion Time': '2025-02-22 14:45:52', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-5.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBM01KR7NW', 'Completion Time': '2025-02-22 14:45:52', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '5.00', 'Withdrawn': nan, 'Balance': '5.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBC6SN3MGE', 'Completion Time': '2025-02-12 20:35:37', 'Details': 'Customer Transfer Fuliza MPesa\nto - 2547******330 isaack\ngitundu', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-50.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBC6SN3MGE', 'Completion Time': '2025-02-12 20:35:37', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '50.00', 'Withdrawn': nan, 'Balance': '50.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBA2J6NTDM', 'Completion Time': '2025-02-10 19:23:15', 'Details': 'Customer Transfer Fuliza MPesa\nto - 07******379 Musyimi\nMusyoka', 'Transaction Status': 'Completed', 'Paid In': nan, 'Withdrawn': '-10.00', 'Balance': '0.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row: {'Receipt No.': 'TBA2J6NTDM', 'Completion Time': '2025-02-10 19:23:15', 'Details': 'OverDraft of Credit Party', 'Transaction Status': 'Completed', 'Paid In': '10.00', 'Withdrawn': nan, 'Balance': '10.00'}
MySQL Error: 1054 (42S22): Unknown column 'nan' in 'field list'

In [17]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Home2020@!",  # change this!
    database="fraud_detection"
)
cursor = conn.cursor()
df = pd.read_csv("cleaned_mpesa.csv")
print(df.columns.tolist())

print("\nNumber of 'nan' values in each column:")
print(df.apply(lambda col: col.astype(str).str.contains('nan').sum()))

# Replace 'nan' with None in the entire DataFrame initially
df = df.replace('nan', None)

import numpy as np

for _, row in df.iterrows():
    sql = """
        INSERT INTO transactions 
        (receipt_no, completion_time, details, transaction_status, paid_in, withdrawn, balance)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        row['Receipt No.'],
        row['Completion Time'],
        row['Details'],
        row['Transaction Status'],
        None if pd.isna(row['Paid In']) else row['Paid In'],
        None if pd.isna(row['Withdrawn']) else row['Withdrawn'],
        None if pd.isna(row['Balance']) else row['Balance'],
    )

    try:
        cursor.execute(sql, values)
    except mysql.connector.Error as err:
        print(f"Error inserting row: {row}")
        print(f"MySQL Error: {err}")


conn.commit()
cursor.close()
conn.close()

['Receipt No.', 'Completion Time', 'Details', 'Transaction Status', 'Paid In', 'Withdrawn', 'Balance']

Number of 'nan' values in each column:
Receipt No.              0
Completion Time          0
Details                  2
Transaction Status       0
Paid In               1345
Withdrawn              793
Balance                  0
dtype: int64
Error inserting row: Receipt No.                                                  TDJ2FNCGBA
Completion Time                                     2025-04-19 19:22:13
Details               Pay Bill Online Fuliza M-Pesa to\n247247 - Equ...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -1,600.00
Balance                                                           20.00
Name: 9, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-1,600.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                          TDJ2FNCGBA
Completion Time             2025-04-19 19:22:13
Details               OverDraft of Credit Party
Transaction Status                    Completed
Paid In                                   20.43
Withdrawn                                   NaN
Balance                                1,620.00
Name: 10, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,620.00' for column 'balance' at row 1
Error inserting row: Receipt No.                                               TDJ1FM7F1B
Completion Time                                  2025-04-19 19:17:51
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                    -100.43
Balance                                                     1,599.57
Name: 11, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,599.57' for column 'balance' at row 1
Error inserting row: Receipt No.                    TDJ9FM7K69
Completion Time       2025-04-19 19:17:50
Details                 M-Shwari Withdraw
Transaction Status              Completed
Paid In                          1,700.00
Withdrawn                             NaN
Balance                          1,700.00
Name: 12, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,700.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                    TDI07S41PU
Completion Time       2025-04-18 07:02:48
Details                  M-Shwari Deposit
Transaction Status              Completed
Paid In                               NaN
Withdrawn                       -1,799.00
Balance                              0.06
Name: 19, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-1,799.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                                                  TDI77S1M95
Completion Time                                     2025-04-18 07:01:45
Details               Customer Transfer to -\n01******138 CHRISTINE ...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                       -100.00
Balance                                                        1,799.06
Name: 20, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,799.06' for column 'balance' at row 1
Error inserting row: Receipt No.                                               TDH65VATZ6
Completion Time                                  2025-04-17 18:12:14
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                     -89.94
Balance                                                     1,899.06
Name: 21, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,899.06' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TDH35VAXOF
Completion Time                                     2025-04-17 18:12:13
Details               Receive funds from 6719133 -\nISAACK KARANJA G...
Transaction Status                                            Completed
Paid In                                                        1,989.00
Withdrawn                                                           NaN
Balance                                                        1,989.00
Name: 22, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,989.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                                                  TDF7SB2CV3
Completion Time                                     2025-04-15 02:59:44
Details               Pay Bill Online to 247247 -\nEquity Paybill Ac...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -3,500.00
Balance                                                          190.96
Name: 27, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-3,500.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                                                  TDF4SAQTIS
Completion Time                                     2025-04-15 02:27:27
Details               Customer Transfer to -\n2547******330 isaack g...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                        -50.00
Balance                                                        3,690.96
Name: 28, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '3,690.96' for column 'balance' at row 1
Error inserting row: Receipt No.                    TDF1SAQDR7
Completion Time       2025-04-15 02:25:48
Details                  Airtime Purchase
Transaction Status              Completed
Paid In                               NaN
Withdrawn                         -140.00
Balance                          3,740.96
Name: 29, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '3,740.96' for column 'balance' at row 1
Error inserting row: Receipt No.                                               TDF6SAOZZY
Completion Time                                  2025-04-15 02:22:54
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                     -97.04
Balance                                                     3,880.96
Name: 30, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '3,880.96' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TDF0SAP51G
Completion Time                                     2025-04-15 02:22:54
Details               Receive funds from 6719133 -\nISAACK KARANJA G...
Transaction Status                                            Completed
Paid In                                                        3,978.00
Withdrawn                                                           NaN
Balance                                                        3,978.00
Name: 31, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '3,978.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                                                  TCV3V8CUV1
Completion Time                                     2025-03-31 20:06:41
Details               Pay Bill Online to 222222 - E-\nCITIZEN Acc. H...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -1,050.00
Balance                                                           63.93
Name: 37, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-1,050.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                                                  TCV9V6KJSZ
Completion Time                                     2025-03-31 19:59:00
Details               Transfer from Bank 517819 - IM\nBANK LIMITED- ...
Transaction Status                                            Completed
Paid In                                                          500.00
Withdrawn                                                           NaN
Balance                                                        1,113.93
Name: 38, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,113.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                 TCU9NYVS1H
Completion Time                                    2025-03-30 10:12:11
Details               Customer Transfer to -\n07******239 ISAAC NJENGA
Transaction Status                                           Completed
Paid In                                                            NaN
Withdrawn                                                      -100.00
Balance                                                       1,003.93
Name: 43, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,003.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TCT9LHNSSH
Completion Time                                     2025-03-29 18:19:41
Details               Customer Payment to Small\nBusiness to - 01***...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                        -20.00
Balance                                                        1,103.93
Name: 44, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,103.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TCT9LH86QL
Completion Time                                     2025-03-29 18:17:41
Details               Customer Payment to Small\nBusiness to - 07***...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                        -20.00
Balance                                                        1,123.93
Name: 45, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,123.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TCT8KVUK3Y
Completion Time                                     2025-03-29 16:29:57
Details               Receive funds from 6719133 -\nISAACK KARANJA G...
Transaction Status                                            Completed
Paid In                                                        1,244.00
Withdrawn                                                           NaN
Balance                                                        1,244.00
Name: 46, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,244.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                                               TCT6KVUFNW
Completion Time                                  2025-03-29 16:29:57
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                    -100.07
Balance                                                     1,143.93
Name: 47, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '1,143.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TCF5QX5WIV
Completion Time                                     2025-03-15 09:22:58
Details               Pay Bill Online Fuliza M-Pesa to\n247247 - Equ...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -5,900.00
Balance                                                           42.00
Name: 53, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-5,900.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                          TCF5QX5WIV
Completion Time             2025-03-15 09:22:58
Details               OverDraft of Credit Party
Transaction Status                    Completed
Paid In                                   66.07
Withdrawn                                   NaN
Balance                                5,942.00
Name: 54, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '5,942.00' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TCF0QWYRG0
Completion Time                                     2025-03-15 09:21:36
Details               Receive funds from 6719133 -\nISAACK KARANJA G...
Transaction Status                                            Completed
Paid In                                                        5,967.00
Withdrawn                                                           NaN
Balance                                                        5,967.00
Name: 55, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '5,967.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                                               TCF7QWZ09Z
Completion Time                                  2025-03-15 09:21:36
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                     -91.07
Balance                                                     5,875.93
Name: 56, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '5,875.93' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TBA2IUWWZA
Completion Time                                     2025-02-10 18:32:43
Details               Pay Bill Online Fuliza M-Pesa to\n247247 - Equ...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -5,900.00
Balance                                                           42.00
Name: 64, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-5,900.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                          TBA2IUWWZA
Completion Time             2025-02-10 18:32:43
Details               OverDraft of Credit Party
Transaction Status                    Completed
Paid In                                   25.16
Withdrawn                                   NaN
Balance                                5,942.00
Name: 65, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '5,942.00' for column 'balance' at row 1
Error inserting row: Receipt No.                                               TBA8IUFKNC
Completion Time                                  2025-02-10 18:30:36
Details               OD Loan Repayment to 232323 -\nM-PESA Overdraw
Transaction Status                                         Completed
Paid In                                                          NaN
Withdrawn                                                    -100.16
Balance                                                     5,916.84
Name: 66, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '5,916.84' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TBA6IUFD6Y
Completion Time                                     2025-02-10 18:30:25
Details               Receive funds from 6719133 -\nISAACK KARANJA G...
Transaction Status                                            Completed
Paid In                                                        6,017.00
Withdrawn                                                           NaN
Balance                                                        6,017.00
Name: 67, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '6,017.00' for column 'paid_in' at row 1
Error inserting row: Receipt No.                                                  TAC6VPYZ2E
Completion Time                                     2025-01-12 10:55:48
Details               Pay Bill Online Fuliza M-Pesa to\n247247 - Equ...
Transaction Status                                            Completed
Paid In                                                             NaN
Withdrawn                                                     -4,500.00
Balance                                                           34.00
Name: 71, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '-4,500.00' for column 'withdrawn' at row 1
Error inserting row: Receipt No.                          TAC6VPYZ2E
Completion Time             2025-01-12 10:55:48
Details               OverDraft of Credit Party
Transaction Status                    Completed
Paid In                                   24.16
Withdrawn                                   NaN
Balance                                4,534.00
Name: 72, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '4,534.00' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TAC8VPQLJG
Completion Time                                     2025-01-12 10:53:48
Details               Funds received from -\n2547******330 isaack gi...
Transaction Status                                            Completed
Paid In                                                          100.00
Withdrawn                                                           NaN
Balance                                                        4,509.84
Name: 73, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '4,509.84' for column 'balance' at row 1
Error inserting row: Receipt No.                                                  TAC2VPLJRO
Completion Time                                     2025-01-12 10:52:41
Details               Transfer from Bank 517819 - IM\nBANK LIMITED- ...
Transaction Status                                            Completed
Paid In                                                          119.00
Withdrawn                                                           NaN
Balance                                                        4,409.84
Name: 74, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '4,409.84' for column 'balance' at row 1
Error inserting row: Receipt No.                    TAB9US3IL9
Completion Time       2025-01-11 23:07:29
Details                 M-Shwari Withdraw
Transaction Status              Completed
Paid In                            850.00
Withdrawn                             NaN
Balance                          4,290.84
Name: 75, dtype: object
MySQL Error: 1366 (HY000): Incorrect decimal value: '4,290.84' for column 'balance' at row 1
Error inserting row: Receipt No.                                               TAB1URZ9NR